.home-container {
    width: 100vw;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    min-height: 90vh;

    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray);
}