.table {
    max-width: 100%;
    margin-top: 6.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: auto;
}

.table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 60rem;
    height: 5.8rem;
    margin-bottom: 0.5rem;

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-header span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000000;
}

.arrow-img {
    width: 1.5rem;

    cursor: pointer;
}

.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000000;
}

.table-row-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row-logo {
    width: 10%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    gap: 0.4rem;
}

.origin-state {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    gap: 0.4rem;
}

.cost-per-kwh {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 17%;
    gap: 0.4rem;
}

.total-clients {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16%;
    gap: 0.4rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 17%;
    gap: 0.4rem;
}

.table-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 60rem;
    height: 5.8rem;
    margin-top: 0.5rem;

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.page-nav-img {
    width: 2rem;
    height: 2rem;

    cursor: pointer;
}

@media (max-width:730px) {

    .table-header {
        min-width: 30rem;
    }

    .table-header span {
        font-size: 1.2rem;
    }

    .table-footer {
        min-width: 30rem;
    }

    .table-row-logo {
        display: none;
    }

    .name {
        width: 24%;
    }

    .origin-state {
        width: 20%;
    }

    .cost-per-kwh {
        width: 20%;
    }

    .total-clients {
        width: 18%;
    }

    .score {
        width: 18%;
    }

    .arrow-img {
        display: none;
    }
}