@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

:root {
  --darkest-gray: #2F2F2F;
  --dark-gray: #484848;
  --medium-gray: #555555;
  --light-gray: #FAFAFA;
  --medium-light-gray: #EAEAEA;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
}

button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(0 0 0 / 1);
  background-color: rgb(0 223 124 / 1);
  padding: 0.5rem 2rem;

  font-size: 2rem;
  font-weight: 500;
  color: rgb(0 0 0 / 1);
  font-family: 'Inter', sans-serif;
}