.table-row {
    display: flex;

    min-width: 60rem;
    height: 5.8rem;
    margin-bottom: 1px;

    border-bottom: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    background-color: white;
}

.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row-logo {
    width: 10%;
}

.supplier-logo-img {
    width: 70px;
    height: 35px;
}

.name {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.origin-state {
    width: 20%;
}

.cost-per-kwh {
    width: 17%;
}

.total-clients {
    width: 16%;
}

.score {
    width: 17%;
}

@media (max-width:600px) {

    .table-row {
        min-width: 30rem;
    }

    .table-row-logo {
        display: none;
    }

    .description {
        font-size: 1.1rem;
    }

    .name {
        width: 30%;
    }

    .origin-state {
        width: 20%;
    }

    .cost-per-kwh {
        width: 18%;
    }

    .total-clients {
        width: 16%;
    }

    .score {
        width: 16%;
    }
}